[Unit]
Description = Denops shared server

[Service]
Type=simple
Restart = always
ExecStart={{deno}} run -A --no-check {{denops}}/denops/@denops-private/cli.ts --hostname {{hostname}} --port {{port}}

[Install]
WantedBy=default.target
